  <h1>Pirate Register</h1>
      <h2>Pirate</h2>
        <h3>Name: <%= @pirate.name %></h3>
        <h3>Weight: <%= @pirate.weight %></h3>
        <h3>Height: <%= @pirate.height %></h3>
        <h3>Ships: <%= @pirate.ship_1 %>, <%= @pirate.ship_2 %></h3>
    <% @ships.each_with_index do |ship, i| %>
      <h2> <%= "Ship #{i + 1}" %></h2>
        <h3>Name: <%= ship.name %></h3>
        <h3>Type: <%= ship.type %></h3>
        <h3>Booty: <%= ship.booty %></h3>
    <% end %>
